In [1]:
import pandas
import geopandas

In [2]:
gdf = geopandas.read_file("cd.geojson")
pdf = pandas.read_csv("fineparticulatematter.csv", header=6)

pdf = pdf.rename(columns={"Geography ID": "BoroCD"})
pdf = pdf.rename(columns={"Data Value": "DataValue"})
pdf.head()

,Year Description,Borough,Geography Name,BoroCD,DataValue,Notes,Unnamed: 6
0,Annual Average 2019,Bronx,Belmont and East Tremont (CD6),206.0,7.15,NaN,NaN
1,Annual Average 2019,Bronx,Fordham and University Heights (CD5),205.0,7.29,NaN,NaN
2,Annual Average 2019,Bronx,Highbridge and Concourse (CD4),204.0,7.24,NaN,NaN
3,Annual Average 2019,Bronx,Hunts Point and Longwood (CD2),202.0,7.82,NaN,NaN
4,Annual Average 2019,Bronx,Kingsbridge Heights and Bedford (CD7),207.0,6.78,NaN,NaN

In [5]:
joined_gdf = gdf.merge(pdf, on="BoroCD")
#joined_gdf.to_file("pm25.geojson", driver="GeoJSON")

In [3]:
gdf = geopandas.read_file("cd.geojson")
pdf = pandas.read_csv("ozone.csv", header=6)

pdf = pdf.rename(columns={"Geography ID": "BoroCD"})
pdf = pdf.rename(columns={"Data Value": "DataValue"})
pdf.head()

,Year Description,Borough,Geography Name,BoroCD,DataValue,Notes,Unnamed: 6
0,Summer 2019,Bronx,Belmont and East Tremont (CD6),206.0,29.49,NaN,NaN
1,Summer 2019,Bronx,Fordham and University Heights (CD5),205.0,28.72,NaN,NaN
2,Summer 2019,Bronx,Highbridge and Concourse (CD4),204.0,28.49,NaN,NaN
3,Summer 2019,Bronx,Hunts Point and Longwood (CD2),202.0,29.73,NaN,NaN
4,Summer 2019,Bronx,Kingsbridge Heights and Bedford (CD7),207.0,29.23,NaN,NaN

In [4]:
joined_gdf = gdf.merge(pdf, on="BoroCD")
joined_gdf.to_file("ozone.geojson", driver="GeoJSON")