In [1]:
import pandas
import geopandas
import geopy

In [4]:
gdf = geopandas.read_file("cd.geojson")
pdf = pandas.read_csv("daytimetemp.csv", header=6, nrows=59)


pdf = pdf.rename(columns={"Geography ID": "BoroCD"})
pdf = pdf.rename(columns={"Degrees Fahrenheit": "DataValue"})
pdf.head()

,Year,GeoTypeName,Borough,Geography,BoroCD,Indicator Name,DataValue,Notes Degrees Fahrenheit
0,2018,Neighborhood (Community District),Brooklyn,Bay Ridge and Dyker Heights (CD10),310,Daytime Summer Surface Temperature,94.31,NaN
1,2018,Neighborhood (Community District),Queens,Bayside and Little Neck (CD11),411,Daytime Summer Surface Temperature,97.73,NaN
2,2018,Neighborhood (Community District),Brooklyn,Bedford Stuyvesant (CD3),303,Daytime Summer Surface Temperature,98.89,NaN
3,2018,Neighborhood (Community District),Bronx,Belmont and East Tremont (CD6),206,Daytime Summer Surface Temperature,99.35,NaN
4,2018,Neighborhood (Community District),Brooklyn,Bensonhurst (CD11),311,Daytime Summer Surface Temperature,96.33,NaN

In [5]:
joined_gdf = gdf.merge(pdf, on="BoroCD")
joined_gdf.to_file("daytimetemp.geojson", driver="GeoJSON")

In [36]:
gdf = geopandas.read_file("cd.geojson")
pdf_pm = pandas.read_csv("fineparticulatematter.csv", header=6, nrows=59)

pdf_pm = pdf_pm.rename(columns={"Geography ID": "BoroCD"})
pdf_pm = pdf_pm.rename(columns={"Data Value": "pm25DataValue"})

In [37]:
joined_gdf = gdf.merge(pdf_pm, on="BoroCD")
#joined_gdf.to_file("pm25.geojson", driver="GeoJSON")

In [38]:
del pdf_pm["Unnamed: 6"]
pdf_pm["Percentile_pm"] = pdf_pm.pm25DataValue.rank(pct=True)

pdf_pm.head()

,Year Description,Borough,Geography Name,BoroCD,pm25DataValue,Notes,Percentile_pm
0,Annual Average 2019,Bronx,Belmont and East Tremont (CD6),206,7.15,NaN,0.677966
1,Annual Average 2019,Bronx,Fordham and University Heights (CD5),205,7.29,NaN,0.762712
2,Annual Average 2019,Bronx,Highbridge and Concourse (CD4),204,7.24,NaN,0.745763
3,Annual Average 2019,Bronx,Hunts Point and Longwood (CD2),202,7.82,NaN,0.847458
4,Annual Average 2019,Bronx,Kingsbridge Heights and Bedford (CD7),207,6.78,NaN,0.525424

In [44]:
pdf_ozone = pandas.read_csv("ozone.csv", header=6)

pdf_ozone = pdf_ozone.rename(columns={"Geography ID": "BoroCD"})
pdf_ozone = pdf_ozone.rename(columns={"Data Value": "ozoneDataValue"})
pdf_ozone["Percentile_ozone"] = pdf_ozone.ozoneDataValue.rank(pct=True)


joined_pdf = pdf_ozone.merge(pdf_pm, on="BoroCD")
joined_pdf["average_Percentile"] = (joined_pdf["Percentile_ozone"] + joined_pdf["Percentile_pm"])/2

joined_pdf.head()

,Year Description_x,Borough_x,Geography Name_x,BoroCD,ozoneDataValue,Notes_x,Unnamed: 6,Percentile_ozone,Year Description_y,Borough_y,Geography Name_y,pm25DataValue,Notes_y,Percentile_pm,average_Percentile
0,Summer 2019,Bronx,Belmont and East Tremont (CD6),206.0,29.49,NaN,NaN,0.440678,Annual Average 2019,Bronx,Belmont and East Tremont (CD6),7.15,NaN,0.677966,0.559322
1,Summer 2019,Bronx,Fordham and University Heights (CD5),205.0,28.72,NaN,NaN,0.355932,Annual Average 2019,Bronx,Fordham and University Heights (CD5),7.29,NaN,0.762712,0.559322
2,Summer 2019,Bronx,Highbridge and Concourse (CD4),204.0,28.49,NaN,NaN,0.305085,Annual Average 2019,Bronx,Highbridge and Concourse (CD4),7.24,NaN,0.745763,0.525424
3,Summer 2019,Bronx,Hunts Point and Longwood (CD2),202.0,29.73,NaN,NaN,0.491525,Annual Average 2019,Bronx,Hunts Point and Longwood (CD2),7.82,NaN,0.847458,0.669492
4,Summer 2019,Bronx,Kingsbridge Heights and Bedford (CD7),207.0,29.23,NaN,NaN,0.406780,Annual Average 2019,Bronx,Kingsbridge Heights and Bedford (CD7),6.78,NaN,0.525424,0.466102

In [46]:
joined_pdf.to_csv("airquality.csv")

In [47]:
joined_gdf = gdf.merge(joined_pdf, on="BoroCD")
joined_gdf.to_file("airquality.geojson", driver="GeoJSON")

In [6]:
gdf = geopandas.read_file("cd.geojson")
pdf = pandas.read_csv("in_near_poverty_census.csv")

pdf = pdf.rename(columns={"Geography ID": "BoroCD"})
pdf = pdf.rename(columns={"2013-2018": "DataValue"})

In [7]:
joined_gdf = gdf.merge(pdf, on="BoroCD")
joined_gdf.to_file("in_near_poverty_census.geojson", driver="GeoJSON")

In [4]:
gdf = geopandas.read_file("cd.geojson")
pdf = pandas.read_csv("poc_nyc_community_profiles.csv", header=0)

pdf = pdf.rename(columns={"Percent People of Color": "DataValue"})
pdf.head()

                          Geography Name  BoroCD  DataValue
0         Belmont and East Tremont (CD6)     206       96.0
1   Fordham and University Heights (CD5)     205       98.9
2         Highbridge and Concourse (CD4)     204       98.0
3         Hunts Point and Longwood (CD2)     202       98.0
4  Kingsbridge Heights and Bedford (CD7)     207       94.2

In [5]:
joined_gdf = gdf.merge(pdf, on="BoroCD")
joined_gdf.to_file("poc_nyc_community_profiles.geojson", driver="GeoJSON")